extends base

block vars
    - var title = "Home"

block body
    h1 RV-EX
    p.
        Welcome. Please #[a(href="/register") register] or #[a(href="/login") login] or #[a(href="/logout") logout] or #[a(href="/dashboard") dashboard]
